{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <!-- DataTables Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class"m-0">Account Settings</h5>
            </div>
            <div class="card-body">
                <h6>Quickbooks Settings:</h6>
                <small class"m-0">
                    Quickbooks Connection Status:
                    {% if connection_status == 'online' %}
                        <span class="badge badge-success">online</span>
                    {% else %}
                        <span class="badge badge-danger">offline</span>
                    {% endif %}
                </small>
                <hr>
                <h6>Refresh Connection:</h6>
                <a class="btn btn-primary btn-sm"
                   href="{% url 'check_quickbooks_connection' %}">Refresh</a>
                <br>
                <h6>Quickbooks Web Connector(QWC) File:</h6>
                <a class="btn btn-primary btn-sm"
                   href="{% url 'download_qwc' user.id %}">Download QWC File</a>
                <br>
                <h6>Import/Export Data:</h6>
                <a class="btn btn-primary btn-sm"
                   href="{% url 'download_qwc' user.id %}">Export Data to Quickbooks</a>
                <a class="btn btn-primary btn-sm"
                   href="{% url 'download_qwc' user.id %}">Import Data from Quickbooks</a>
                <hr>
                <h6>Account Settings:</h6>
                <hr>
                <a class="btn btn-primary  btn-sm "
                   href="#"
                   data-toggle="modal"
                   data-target="#change_password_modal">Change Password</a>
                <a class="btn btn-danger  btn-sm "
                   href="#"
                   data-toggle="modal"
                   data-target="#logout_modal">Logout</a>
                <div class="modal  fade" id="change_password_modal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold ">Change Password Form</h5>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="user" action="{% url 'password_change' %}" method="post">
                                    {% csrf_token %}
                                    {{ password_change_form.as_p }}
                                    <input class="btn btn-success btn-sm " type="submit" value="Submit">
                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal  fade" id="logout_modal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold ">You are about to logout of the system.</h5>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <a class="btn btn-success btn-sm"href="{% url 'logout_user' %}">Logout</a>
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
        $(document).ready(function () {
            //Set the formats for DataTales
            $.fn.dataTable.moment( 'MMM. D, YYYY, hh:mm' );
    //Initialise the table
    var table = $('#ExpensesdataTable').DataTable({
        
        fixedHeader: true,
        order: [[1, 'asc']],
        dom: 'Bfrtip',
        lengthMenu: [
        10, 25, 50, -1
        ],
        buttons: [
        {
                text: 'New Expense',
                action: function ( e, dt, node, config ) {
                     window.location.href = "{% url 'add_expense' %}"

                }
            },
        
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 2
            }
        },
        
        {
            extend: 'excel',
            messageBottom: "Kings Educational Center Information Management System",
            title: "Expenses Report",
           
            exportOptions: {
                    columns: ':visible'
                }
        },
        {
            extend: 'pdf',
            messageBottom: "Kings Educational Center Information Management System",
            download:'open',
            title: "Expenses Report",
            messageTop: function(){
                var curr_date = new Date();
                txt_curr_date = curr_date.toString();
                return txt_curr_date;
            },
            exportOptions: {
                    columns: ':visible'
                }
        },
        
        'pageLength',
        'colvis'
        ],
        columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
        }],
        select: {
        style: 'multi',
        selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

});
        </script>
    {% endblock script %}
{% endblock %}
