amqp==5.1.1
anyjson==0.3.3
arabic-reshaper==2.1.3
arrow==1.2.1
asgiref==3.5.2
asn1crypto==1.5.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
Automat==20.2.0
autopep8==1.6.0
Babel==2.10.1
billiard==3.6.4.0
binaryornot==0.4.4
briefcase==0.3.5
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
constantly==15.1.0
cookiecutter==1.7.3
cryptography==37.0.2
cssselect2==0.6.0
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
Django==2.2.28
django-allauth==0.50.0
django-appconf==1.0.5
django-autocomplete-light==3.9.4
django-celery==3.3.1
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-datetimepicker==3.14
django-mailer==2.2
django-phonenumber-field==6.1.0
django-redis==5.2.0
django-select2==7.10.1
django-timezone-field==5.0
django-wkhtmltopdf==3.4.0
djangorestframework==3.13.1
djlint==1.0.3
docutils==0.18.1
ecdsa==0.17.0
enum-compat==0.0.3
enum34==1.1.10
filelock==3.7.0
flake8==4.0.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.24
greenlet==1.1.3.post0
html5lib==1.1
hyperlink==21.0.0
idna==2.7
importlib-metadata==4.11.3
incremental==22.10.0
iniconfig==1.1.1
intuit-oauth==1.2.4
Jinja2==2.11.3
jinja2-time==0.2.0
json2html==1.3.0
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-examples==2.1.0
Kivy-Garden==0.1.5
kombu==5.2.4
lockfile==0.12.2
lxml==4.8.0
MarkupSafe==2.1.1
mccabe==0.6.1
mock==4.0.3
msgpack==1.0.4
mysqlclient==2.1.1
numpy==1.21.4
oauthlib==3.2.0
oscrypto==1.3.0
packaging==21.3
pathspec==0.9.0
phonenumbers==8.12.48
pika==0.13.1
Pillow==9.0.1
platformdirs==2.5.2
pluggy==1.0.0
poyo==0.5.0
prompt-toolkit==3.0.31
psutil==5.9.3
psycopg2==2.9.3
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.18
pyflakes==2.4.0
Pygments==2.12.0
pyHanko==0.13.1
pyhanko-certvalidator==0.19.5
PyJWT==2.3.0
pyparsing==3.0.9
PyPDF3==1.0.6
pypiwin32==223
pytest==7.1.2
pytest-cov==2.5.0
python-bidi==0.4.2
python-coveralls==2.9.3
python-crontab==2.6.0
python-dateutil==2.8.2
python-jose==3.3.0
python-quickbooks==0.9.1
python-slugify==5.0.2
python3-openid==3.2.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==304
PyYAML==6.0
pyzmq==24.0.1
qrcode==7.3.1
rauth==0.7.3
redis==4.3.4
regex==2022.4.24
reportlab==3.6.9
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.8
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sphinx-bootstrap-theme==0.6.5
spyne==2.14.0
SQLAlchemy==1.4.42
sqlparse==0.4.2
style==1.1.0
suds==1.1.2
svglib==1.2.1
text-unidecode==1.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tox==3.25.0
tqdm==4.64.0
Twisted==22.8.0
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
tzdata==2022.1
tzlocal==4.2
update==0.0.1
uritools==4.0.0
urllib3==1.23
vine==5.0.0
virtualenv==20.14.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
xhtml2pdf==0.2.7
zipp==3.8.0
zope.interface==5.5.0
