{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <div class="container text-gray-900">

        <div class="row justify-content-center">
            <div class="card o-hidden border-0 shadow-sm my-5" style="width:50%">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-sm">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1><span class="fas fa fa-check"></span></h1>
                                    <h2>Password Changed Successfully. </h2>
                                    <div class="text-center">
                                        <a class="btn btn-primary btn-sm small" href="{% url 'login' %}">Login</a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock content %}