{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br/>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="card o-hidden border-0 shadow-sm my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-sm">
                        <div class="p-5">
                            <div class="text-left">
                                <h5>Add Fees Item</h5>
                            </div>
                            <hr/>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block script_block %}
            <script>
                function confirm_add_fees_item(){

                    const description = document.getElementById("description");
                    const description_name = description.options[description.selectedIndex].text;
                    document.getElementById("description_area").innerHTML = description_name;
                    var arr = [];
                    $('input[name="grades"]:checked').each(function(){
                        arr.push($(this).val());
                    });
                    document.getElementById("grades_area").innerHTML = arr;
                    const amount = document.forms['add_fees_item_form']['amount'].value;
                    document.getElementById("amount_area").innerHTML = amount;
                    const ocurrence = $('input[name=ocurrence]:checked', '#add_fees_item_form').val();
                    if(ocurrence == 'recurring'){
                        $("#term_div").hide();
                        $("#year_div").hide();
                        
                        $("#period_div").show();
                        $("#specific_terms_div").show();
                        document.getElementById("ocurrence_area").innerHTML = ocurrence;
                        const period = $('input[name=period]:checked', '#add_fees_item_form').val();
                        if(period == "year-round"){
                            $("#specific_terms_div").hide();
                            document.getElementById("period_area").innerHTML = period;
                        }
                        if(period=="specific-term"){
                            $("#specific_terms_div").show();
                            document.getElementById("period_area").innerHTML = period;
                            var arr2 = [];
                            $('input[name="specific_terms"]:checked').each(function(){
                                arr2.push($(this).val());
                            });
                            document.getElementById("specific_terms_area").innerHTML = arr2;
                        }
                    }
                    if(ocurrence == 'one-time'){
                        $("#term_div").show();
                        $("#year_div").show();
                        
                        $("#period_div").hide();
                        $("#specific_terms_div").hide();
                        document.getElementById("ocurrence_area").innerHTML = ocurrence;
                        const year = document.forms['add_fees_item_form']['year'].value;
                        const term = document.forms['add_fees_item_form']['term'].value;
                        const cor = document.forms['add_fees_item_form']['cor'].value;
                        document.getElementById("cor_area").innerHTML = cor;
                        document.getElementById("year_area").innerHTML = year;
                        document.getElementById("term_area").innerHTML = term;
                    }
                     
                }
            $(function(){
                
                $("#year").val("");
                $("#term").val("");
                $("#specific_terms_0").prop("checked",false);
                $("#specific_terms_1").prop("checked",false);
                $("#specific_terms_2").prop("checked",false);
                
                $("#period_2").prop("checked",false);
                $("#period_1").prop("checked",false);
                $("#id_ocurrence_0").prop("checked",false);
                $("#id_ocurrence_1").prop("checked",false);
                $("#period-row").hide();
                $("#specific-terms-row").hide();
                $("#one-time-row").hide();
               
                $("#id_ocurrence_0").click(function(){
                    $("#year").val("");
                    $("#term").val("");
                    $("#period-row").show();
                    $("#period_0").hide();
                    $("#one-time-row").hide();
                   
                    $("#specific-terms-row").hide();
                });
                $("#id_ocurrence_1").click(function(){
                    $("#period_2").prop("checked",false);
                    $("#period_1").prop("checked",false);
                    $("#specific_terms_0").prop("checked",false);
                    $("#specific_terms_1").prop("checked",false);
                    $("#specific_terms_2").prop("checked",false);
                    
                    $("#period-row").hide();
                    $("#specific-terms-row").hide();
                    $("#one-time-row").show();
                    
                });
                $("#period_2").click(function(){
                    $("#specific_terms_0").prop("checked",false);
                    $("#specific_terms_1").prop("checked",false);
                    $("#specific_terms_2").prop("checked",false);
                    $("#specific-terms-row").show();
                    $("#one-time-row").hide();
                    
                });
                $("#period_1").click(function(){
                    $("#specific_terms_0").prop("checked",true);
                    $("#specific_terms_1").prop("checked",true);
                    $("#specific_terms_2").prop("checked",true);
                    
                    $("#specific-terms-row").show();
                });
                });
            </script>
        {% endblock %}
    {% endblock %}
