{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'edit_fees_structure' %}" method="post">
            {{ formset }}
        </form>
    </div>
{% endblock %}
