{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- DataTables Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class"m-0">Fees Structure</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post"
                                  action="{% url 'fees_structure' %}"
                                  name="fees_struc_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        {{ form.grade.errors }}
                                        <label for="{{ form.grade.id_for_label }}">Grade:</label>
                                        {{ form.grade }}
                                    </div>
                                    <div class="col">
                                        {{ form.term.errors }}
                                        <label for="{{ form.term.id_for_label }}">Term:</label>
                                        {{ form.term }}
                                    </div>
                                </div>
                                <hr>                                
                            </form>
                            <div class="table-responsive" id="fees_struc_display_area">
                               {%if fees_struc%}
                               <table class="table table-bordered text-gray-900 table-hover table-sm">
                                    {% for item in fees.struc.item %}
                                    <tr>
                                        <th></th>
                                        <td>/td>
                                    </tr>
                                    {% endfor %}
                                    
                                </table>
                               {%endif%} 
                            </div>
                            <a class="btn btn-primary btn-sm"
                                   onclick="confirm_fees_struc_edit()"
                                   href="#"
                                   data-toggle="modal"
                                   data-target="#confirm_fees_struc_modal">Edit</a>
                            <div class="modal fade" id="confirm_fees_struc_modal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Expense</h4>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <b>Recipient:</b> <small id="recipient_area_edit"></small>
                                                <br>
                                                <b>Description:</b> <small id="description_area_edit"></small>
                                                <br>
                                                <b>Category:</b> <small id="category_area_edit"></small>
                                                <br>
                                                <b>Quantity:</b> <small id="quantity_area_edit"></small>
                                                <br>
                                                <b>Price per Quantity: </b><small id="price_per_quantity_area_edit"></small>
                                                <br>
                                                <b>Total: </b><small id="total_area_edit"></small>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                                <input type="submit"
                                                       class="btn btn-success btn-sm"
                                                       value="Submit"
                                                       data-bs-dismiss="modal">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    {% endblock %}
