{% extends 'dashboard/layout.html' %}
{% load static %}
{% block content_area %}
<table class="table table-bordered table-hover">
    <tr>
        <td><h3>Class: {{fees_structure.grade}} <br> Year:{{fees_structure.year}} <br> Term:{{fees_structure.term}} </h3></td>
    </tr>
    <form action="{% url 'update_fees_structure' fees_structure.id%}" method="post">
        {% csrf_token %}
        {{form.errors}}
        {% for field in form %}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}} </td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="submit" class="btn btn-primary" value="Submit"></td>
        </tr>
    </form>
</table>

{% endblock content_area %}
