{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <!-- DataTables Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold ">Fees Structure Billing Items</h5>
                <hr >
                <button class="btn btn-primary  btn-sm "
                        href="#"
                        data-toggle="modal"
                        data-target="#add_billingitem_modal">
                    Add Billing Item
                </button>
                <button class="btn btn-primary  btn-sm "
                        href="#"
                        data-toggle="modal"
                        data-target="#add_salesitem_modal">
                    Add Sales Item
                </button>
            </div>
            <div class="modal  fade" id="add_salesitem_modal">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold ">New Sales Item Form</h5>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <form action="{% url 'add_salesitem' %}" method="post">
                                {% csrf_token %}
                                <div class="row" id='item-name-row'>
                                    <div class="col">
                                        {{ add_salesitem_form.name.errors }}
                                        <label for="{{ add_salesitem_form.name.id_for_label }}">Name:</label>
                                        {{ add_salesitem_form.name }}
                                    </div>
                                </div>
                                <br>
                                <input class="btn btn-success btn-sm " type="submit" value="Submit">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal  fade" id="add_billingitem_modal">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold ">New Billing Item Form</h5>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <form action="{% url 'create_fees_structure' %}"
                                  method="post"
                                  id="add_fees_item_form"
                                  name="add_fees_item_form">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            {{ add_billing_item_form.description.errors }}
                                            <label for="{{ add_billing_item_form.description.id_for_label }}">Item:</label>
                                            {{ add_billing_item_form.item }}
                                        </div>
                                    </div>
                                    <div class="row" id='cor-row'>
                                        <div class="col">
                                            {{ add_billing_item_form.cor.errors }}
                                            <label for="{{ add_billing_item_form.cor.id_for_label }}">Charge Every New Student:</label>
                                            {{ add_billing_item_form.charge_on_registration }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ add_billing_item_form.grades.errors }}
                                            <label for="{{ add_billing_item_form.grades.id_for_label }}">Apply to Grades:</label>
                                            {{ add_billing_item_form.grades }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ add_billing_item_form.amount.errors }}
                                            <label for="{{ add_billing_item_form.amount.id_for_label }}">Amount:</label>
                                            {{ add_billing_item_form.amount }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ add_billing_item_form.ocurrence.errors }}
                                            <label for="{{ add_billing_item_form.ocurrence.id_for_label }}">ocurrence:</label>
                                            {{ add_billing_item_form.ocurrence }}
                                        </div>
                                    </div>
                                    <div class="row" id='period-row'>
                                        <div class="col">
                                            {{ add_billing_item_form.period.errors }}
                                            <label for="{{ add_billing_item_form.period.id_for_label }}">Period:</label>
                                            {{ add_billing_item_form.period }}
                                        </div>
                                    </div>
                                    <div class="row" id='specific-terms-row'>
                                        <div class="col">
                                            {{ add_billing_item_form.specific_terms.errors }}
                                            <label for="{{ add_billing_item_form.specific_terms.id_for_label }}">Terms:</label>
                                            {{ add_billing_item_form.terms }}
                                        </div>
                                    </div>
                                    <div class="row" id='one-time-row'>
                                        <div class="col">
                                            {{ add_billing_item_form.year.errors }}
                                            <label for="{{ add_billing_item_form.year.id_for_label }}">Year:</label>
                                            {{ add_billing_item_form.year }}
                                        </div>
                                        <div class="col">
                                            {{ add_billing_item_form.term.errors }}
                                            <label for="{{ add_billing_item_form.term.id_for_label }}">Term:</label>
                                            {{ add_billing_item_form.term }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <input class="btn btn-success btn-sm " type="submit" value="Submit">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class=" table table-bordered table-sm text-gray-900"
                           id="FeesStructureTable"
                           style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Grades Applied To</th>
                                <th>Amount</th>
                                <th>ocurrence</th>
                                <th>period</th>
                                <th>terms</th>
                                <th>year</th>
                                <th>
                                    term
                                </th>
                                <th>
                                    Charge on Registration
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fees_structure  in fees_structures %}
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        {{ fees_structure.item }}
                                    </td>
                                    <td>
                                        {{ fees_structure.grades_list }}
                                    </td>
                                    <td>
                                        {{ fees_structure.amount }}
                                    </td>
                                    <td>
                                        {{ fees_structure.ocurrence }}
                                    </td>
                                    <td>
                                        {{ fees_structure.period }}
                                    </td>
                                    <td>
                                        {{ fees_structure.terms_list }}
                                    </td>
                                    <td>
                                        {{ fees_structure.year }}
                                    </td>
                                    <td>
                                        {{ fees_structure.term }}
                                    </td>
                                    <td>
                                        {{ fees_structure.charge_on_registration }}
                                    </td>
                                    <td>
                                        {{ fees_structure.created }}
                                    </td>
                                    <td class="">
                                        <a class="btn btn-primary  btn-sm "
                                           href="{% url 'edit_fees_structure' fees_structure.id %}">Edit</a>
                                        <a class="btn btn-danger  btn-sm "
                                           href="#"
                                           data-toggle="modal"
                                           data-target=" #delete_fees_structure_modal{{ forloop.counter }} ">Delete</a>
                                    </td>
                                </tr>
                                <div class="modal fade"
                                     id="delete_fees_structure_modal{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    Delete Billing Item
                                                </h4>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <a class="btn btn-success btn-sm"
                                                   href="{% url 'delete_fees_structure' fees_structure.id %}">
                                                    <span class="text">Submit</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
        $(document).ready(function () {
            $("#year").val("");
                $("#term").val("");
                $("#specific_terms_0").prop("checked",false);
                $("#specific_terms_1").prop("checked",false);
                $("#specific_terms_2").prop("checked",false);
                
                $("#period_2").prop("checked",false);
                $("#period_1").prop("checked",false);
                $("#id_ocurrence_0").prop("checked",false);
                $("#id_ocurrence_1").prop("checked",false);
                $("#period-row").hide();
                $("#specific-terms-row").hide();
                $("#one-time-row").hide();
               
                $("#id_ocurrence_0").click(function(){
                    $("#year").val("");
                    $("#term").val("");
                    $("#period-row").show();
                    $("#period_0").hide();
                    $("#one-time-row").hide();
                   
                    $("#specific-terms-row").hide();
                });
                $("#id_ocurrence_1").click(function(){
                    $("#period_2").prop("checked",false);
                    $("#period_1").prop("checked",false);
                    $("#specific_terms_0").prop("checked",false);
                    $("#specific_terms_1").prop("checked",false);
                    $("#specific_terms_2").prop("checked",false);
                    
                    $("#period-row").hide();
                    $("#specific-terms-row").hide();
                    $("#one-time-row").show();
                    
                });
                $("#period_2").click(function(){
                    $("#specific_terms_0").prop("checked",false);
                    $("#specific_terms_1").prop("checked",false);
                    $("#specific_terms_2").prop("checked",false);
                    $("#specific-terms-row").show();
                    $("#one-time-row").hide();
                    
                });
                $("#period_1").click(function(){
                    $("#specific_terms_0").prop("checked",true);
                    $("#specific_terms_1").prop("checked",true);
                    $("#specific_terms_2").prop("checked",true);
                    
                    $("#specific-terms-row").show();
            //Set the formats for DataTales
            $.fn.dataTable.moment( 'MMM. D, YYYY, hh:mm' );
    //Initialise the table
    var table = $('#FeesStructureTable').DataTable({
        
        fixedHeader: true,
        order: [[1, 'asc']],
        dom: 'Bfrtip',
        lengthMenu: [
        10, 25, 50, -1
        ],
        buttons: [
        
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 2
            }
        },
        
        {
            extend: 'excel',
            messageBottom: "Kings Educational Center Information Management System",
            title: "Fees Structure Report",
           
            exportOptions: {
                    columns: ':visible'
                }
        },
        {
            extend: 'pdf',
            messageBottom: "Kings Educational Center Information Management System",
            download:'open',
            title: "Fees Structure Report",
            messageTop: function(){
                var curr_date = new Date();
                txt_curr_date = curr_date.toString();
                return txt_curr_date;
            },
            exportOptions: {
                    columns: ':visible'
                }
        },
        
        'pageLength',
        'colvis'
        ],
        columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
        }],
        select: {
        style: 'multi',
        selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

});
        </script>
    {% endblock script %}
{% endblock %}
