{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <!-- DataTables Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class"m-0">Billing Items</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class=" table table-bordered table-sm text-gray-900"
                           id="FeesStructureTable"
                           style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Grades Applied To</th>
                                <th>Amount</th>
                                <th>ocurrence</th>
                                <th>period</th>
                                <th>terms</th>
                                <th>year</th>
                                <th>term</th>
                                <th>Registration</th>
                                <th>Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fees_structure  in fees_structures %}
                                <tr>
                                    <td></td>
                                    <td>{{ fees_structure.item }}</td>
                                    <td>{{ fees_structure.grades_list }}</td>
                                    <td>{{ fees_structure.amount }}</td>
                                    <td>{{ fees_structure.ocurrence }}</td>
                                    <td>{{ fees_structure.period }}</td>
                                    <td>{{ fees_structure.terms_list }}</td>
                                    <td>{{ fees_structure.terms.year }}</td>
                                    <td>{{ fees_structure.terms.term }}</td>
                                    <td>{{ fees_structure.charge_on_registration }}</td>
                                    <td>{{ fees_structure.created }}</td>
                                    <td class="">
                                        <a class="btn btn-primary  btn-sm " href="">Edit</a>
                                        <br>
                                        <a class="btn btn-danger  btn-sm "
                                           href="#"
                                           data-toggle="modal"
                                           data-target="#delete_fees_structure_modal">Delete</a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="delete_fees_structure_modal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    Delete Billing Item
                                                </h4>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <a class="btn btn-success btn-sm"
                                                   href="{% url 'delete_fees_structure' fees_structure.id %}">
                                                    <span class="text">Submit</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
        $(document).ready(function () {
            //Set the formats for DataTales
            $.fn.dataTable.moment( 'MMM. D, YYYY, hh:mm' );
    //Initialise the table
    var table = $('#FeesStructureTable').DataTable({
        
        fixedHeader: true,
        order: [[1, 'asc']],
        dom: 'Bfrtip',
        lengthMenu: [
        10, 25, 50, -1
        ],
        buttons: [
        {
                text: 'New Fees Item',
                action: function ( e, dt, node, config ) {
                     window.location.href = "{% url 'create_fees_structure' %}"

                }
            },
        
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 2
            }
        },
        
        {
            extend: 'excel',
            messageBottom: "Kings Educational Center Information Management System",
            title: "Fees Structure Report",
           
            exportOptions: {
                    columns: ':visible'
                }
        },
        {
            extend: 'pdf',
            messageBottom: "Kings Educational Center Information Management System",
            download:'open',
            title: "Fees Structure Report",
            messageTop: function(){
                var curr_date = new Date();
                txt_curr_date = curr_date.toString();
                return txt_curr_date;
            },
            exportOptions: {
                    columns: ':visible'
                }
        },
        
        'pageLength',
        'colvis'
        ],
        columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
        }],
        select: {
        style: 'multi',
        selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

});
        </script>
    {% endblock script %}
{% endblock %}
