{% extends 'layout.html' %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- Invoice details table -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold ">Details</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-gray-900 table-bordered table-hover table-sm">
                        <tr>
                            <th>Student Name</th>
                            <td>{{ invoice.student }}</td>
                        </tr>
                        <tr>
                            <th>Grade</th>
                            <td>{{ invoice.student.current_grade }}</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td>{{ invoice.year }}</td>
                        </tr>
                        <tr>
                            <th>Term</th>
                            <td>{{ invoice.term }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--Invoice items Table-->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Invoice items</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-gray-900 table-hover table-sm">
                        {% for item in items %}
                            <tr>
                                <th>{{ item.invoice_item }}</th>
                                <td>{{ item.amount }} Ksh</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-danger">
                            <th>TOTAL</th>
                            <td>
                                <b>{{ invoice.get_amount }} Ksh</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--invoice payments-->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold ">Invoice Payments</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id=""
                           class="display table-sm text-gray-900 table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Date Paid</th>
                                <th>Note</th>
                                <th>Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.date_paid }}</td>
                                    <td>{{ payment.note }}</td>
                                    <td>{{ payment.amount }} Ksh</td>
                                    <td>{{ payment.invoice.get_balance }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
