{% extends 'dashboard/layout.html' %}
{% block content_area %}
<h3>INVOICE </h3>
<hr>
<table class="table table-bordered table-hover">
    <tr>
        <th>Student Name</th>
        <td>{{invoice.student}} </td>
    </tr>
    <tr>
        <th>Year</th>
        <td>{{invoice.year}} </td>
    </tr>
    <tr>
        <th>Term</th>
        <td>{{invoice.term}} </td>
    </tr>
    
</table>
<hr>
<h2>Invoice Items</h2>
<table class="table table-bordered table-hover">
    {% for item in items %}
    <tr>
        <th>{{item.invoice_item}}</th>
        <td>{{item.amount}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>TOTAL</th>
        <td>{{invoice.get_amount}}</td>
    </tr>
    
</table>


<hr>
<h3>Payments</h3>
<hr>
<table id="all_payments" class="display table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>Date Paid</th>
            <th>For Invoice</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{payment.date_paid}}</td>
            <td>{{payment.invoice.invoice_number_formatted}}</td>
            <td>{{payment.amount}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#all_payments').DataTable();
    } );
</script>
{% endblock content_area %}