{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}">


    {% block style %}
    {% endblock style %}
    <title>SIMS</title>
</head>

<body class="bg-gray-300" id="page-top">
<!--The layout goes in the base_template-->
<!--The base template for importing dependacy files-->
{% block content %}
{% endblock content %}


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src={% static "vendor/jquery-easing/jquery.easing.min.js" %}></script>
<script src={% static "js/sb-admin-2.min.js" %}></script>
<!-- Page level plugins -->
<script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
<script src={% static "vendor/datatables/dataTables.bootstrap4.min.js" %}></script>


<!-- Page level custom scripts -->
<script src={% static "js/demo/datatables-demo.js" %}></script>
</body>
</html>