{% load static %}
<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8">
            <meta name="viewport"
                  content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link type="text/css"
                  href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static "vendor/fontawesome-free/css/all.css" %}">
            <!-- Custom styles for this template-->
            <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">
            <link rel="stylesheet"
                  href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}">
            <link rel="stylesheet" href="{% static 'vendor/css/select2.min.css' %}">
            {% block style %}
            {% endblock style %}
            {{ form.media.css }}
            <title>SIMS</title>
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
            <script src='{% static "vendor/chart.js/Chart.js" %}'></script>
      </head>
      <body class="bg-gray-300" id="page-top">
            <!--The layout goes in the base_template-->
            <!--The base template for importing dependacy files-->
            {% block content %}
            {% endblock content %}
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
            <script src='{% static "js/sb-admin-2.min.js" %}'></script>
            <!-- Page level plugins -->
            <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
            <script src='{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}'></script>
            <script src='{% static "dataTables.buttons.min.js" %}'></script>
            <script src="{% static 'vendor/datatables/JSZip-2.5.0/jszip.min.js'%}"></script>
            <script src="{% static 'vendor/datatables/pdfmake-0.1.36/pdfmake.min.js'%}"></script>
            <!-- Page level custom scripts -->
            <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
            <script src="{%static 'select2/js/select2.min.js'%}"></script>
            {% block script_block %}{% endblock %}
      </body>
</html>
