<div class="table-responsive">
    <table id="invoiceitems-table"
           class="table table-bordered table-sm text-gray-900"
           style="width:100%">
        <thead class='thead-dark'>
            <tr>
                <th scope="col">Billing Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for invoiceitem in invoiceitem_list %}
                <tr>
                    <td>{{ invoiceitem.billing_item }}</td>
                    <td>{{ invoiceitem.billing_item.amount }}</td>
                    <td >
                        <!-- Delete invoiceitem buttons -->
                        <button type="button"
                                class="delete-invoiceitem btn btn-sm btn-danger"
                                data-form-url="{% url 'delete_invoiceitem' invoiceitem.pk invoice.pk student.pk %}">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
