{% load widget_tweaks %}
<form method="post" action="">
  {% csrf_token %}
  <div class="modal-header bg-light">
    <h5 class="modal-title">Delete Student</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {% if student.get_fees_due > 0 %}
        <p>! {{ student }} has a fees balance of {{ student.get_fees_due }}.</p>
        <p>consider updating the student's status to inactive to stop the system from invoicing the student anymore.</p>
      {% endif %}
      {% if student.get_fees_due == 0 %}<p>{{ student }} has no fees balance.</p>{% endif %}
    </p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
  </div>
</form>
