{% extends 'dashboard/layout.html' %}
{% block content_area %}
<h1>Edit Student Profile</h1>

<hr>
<form action="{%url 'edit_student_profile' student.id%}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class='btn btn-primary'>
</form>
<script>
    $(document).ready(function(){
        if ($("#lunch").is(':checked')){
            $("#lunch").attr("disabled", true);
        }
        if ($("#transport").is(':checked')){
            $("#transport").attr("disabled", true);
        }
      });
</script>
{% endblock content_area %}

