{% extends 'dashboard/layout.html' %}
{% load static %}
{% block content_area %}
<a href="{% url 'register_student'%}" class='btn btn-primary'>New Student <img src="{% static 'bootstrap_icons/plus-circle.svg'%}" alt="Bootstrap" width="30" height="30"></a>
<hr>

<table id="all_students" class="display table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student}}</td>
            <td>{{student.current_grade}}</td>
            <td><a href="{%url 'student_profile' student.id%} "class='btn btn-primary'>View Profile</a></td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#all_students').DataTable();
    } );
</script>
{% endblock content_area %}