{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold ">Registered Students</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="StudentsdataTable"
                           class="table text-gray-900 table-bordered table-sm"
                           width="100%"
                           cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Date Registered</th>
                                <th>Admission Number</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Amount Due</th>
                                <th>Current Grade</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td></td>
                                    <td>{{ student.date_of_admission }}</td>
                                    <td>{{ student.admission_number_formatted }}</td>
                                    <td>{{ student }}</td>
                                    <td>
                                        {% if student.active == True %}
                                            <span class="badge badge-success">Active</span>
                                        {% else %}
                                            <span class="badge badge-danger">Inactive</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ student.balancetable_set.balance }}</td>
                                    <td>{{ student.current_grade }}</td>
                                    <td>
                                        <a href="{% url 'student_profile' student.id %} "
                                           class="btn btn-primary  btn-sm">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
        $(document).ready(function () {
            $.fn.dataTable.moment( 'MMM. D, YYYY' );
    //Initialise the table
    var table = $('#StudentsdataTable').DataTable({
        
        fixedHeader: true,
        order: [[0, 'desc']],
        
        dom: 'Bfrtip',
        lengthMenu: [
        10, 25, 50, -1
        ],
        buttons: [
        'pageLength', 
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 2
            }
        },
        {
            extend: 'excel',
            messageBottom: "Kings Educational Center Information Management System",
            title: "Students Report",
            messageTop:function(){
                var curr_date = new Date();
                txt_curr_date = curr_date.toString();
            },
            exportOptions: {
                    columns: ':visible'
                }
        },
        {
            extend: 'pdf',
            messageBottom: "Kings Educational Center Information Management System",
            download:'open',
            title: "Students Report",
            messageTop: function(){
                var curr_date = new Date();
                txt_curr_date = curr_date.toString();
                return txt_curr_date;
            },
            exportOptions: {
                    columns: ':visible'
                }
        },
        'colvis'
        ],
        columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
        }],
        select: {
        style: 'multi',
        selector: 'td:first-child'
        },
        order: [[0, 'asc']]
    });

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

});
        </script>
    {% endblock script %}
{% endblock %}
