{% extends 'dashboard/layout.html' %}
{% load static %}
{% block page %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">View Students</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="all_students" class="table table-bordered"
                ">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Registered</th>
                    <th>Total Amount Due</th>
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student }}</td>
                        <td>{{ student.current_grade }}</td>
                        <td>{{ student.date_of_admission }}</td>
                        <td>{{ student.balancetable.balance }}</td>
                        <td><a href="{% url 'student_profile' student.id %} " class='btn btn-primary'>View Profile</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#all_students').DataTable();
        });
    </script>
{% endblock %}