<div class="table-responsive">
    <table id="years-table"
           class="table table-bordered table-sm text-gray-900"
           style="width:100%">
        <thead class='thead-dark'>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Terms</th>
                <th scope="col">Read / Update / Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for year in year_list %}
                <tr>
                    <td >{{ year.year }}</td>
                    <td >{{ year.start }}</td>
                    <td >{{ year.end }}</td>
                    <td >
                        
                            {% for term in year.term_set.all %}Term {{ term.term }},{% endfor %}
                        
                    </td>
                    <td >
                        <a class="btn btn-primary  btn-sm " href="{% url 'term_list' year.pk %}">Terms</a>
                        <!-- Read vendor buttons -->
                        <button type="button"
                                class="read-year btn btn-sm btn-primary"
                                data-form-url="{% url 'read_year' year.pk %}">
                            <span class="fa fa-eye"></span>
                        </button>
                        <!-- Update vendor buttons -->
                        <button type="button"
                                class="update-year btn btn-sm btn-primary"
                                data-form-url="{% url 'update_year' year.pk %}">
                            <span class="fas fa-pen"></span>
                        </button>
                        <!-- Delete vendor buttons -->
                        <button type="button"
                                class="delete-year btn btn-sm btn-danger"
                                data-form-url="{% url 'delete_year' year.pk %}">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
