{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class='row'>
            <div class='col'>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'view_fees_structure' %}">.../fees-structure-billing-items</a>
                    </li>
                    <li class="breadcrumb-item active">sales-items</li>
                </ul>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <!-- DataTables Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold ">Fees Structure :Sales Items</h5>
                <hr >
                <button class="btn btn-primary  btn-sm "
                        href="#"
                        data-toggle="modal"
                        data-target="#add_salesitem_modal">
                    Add Sales Item
                </button>
            </div>
            <div class="modal  fade" id="add_salesitem_modal">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold ">New Sales Item Form</h5>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <form action="{% url 'add_salesitem' %}" method="post">
                                {% csrf_token %}
                                <div class="row" id='item-name-row'>
                                    <div class="col">
                                        {{ add_salesitem_form.name.errors }}
                                        <label for="{{ add_salesitem_form.name.id_for_label }}">Name:</label>
                                        {{ add_salesitem_form.name }}
                                    </div>
                                </div>
                                <br>
                                <input class="btn btn-success btn-sm " type="submit" value="Submit">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class=" table table-bordered table-sm text-gray-900"
                           id="SalesItemTable"
                           style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th>Item</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item  in items %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td class="">
                                        <a class="btn btn-primary  btn-sm edit-modal-button"
                                           id="{{ item.id }}"
                                           href="#"
                                           data-toggle="modal"
                                           data-target=" #edit_salesitem_modal ">Edit</a>
                                        <a class="btn btn-danger  btn-sm "
                                           href="#"
                                           data-toggle="modal"
                                           data-target=" #delete_salesitem_modal{{ forloop.counter }} ">Delete</a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="delete_salesitem_modal{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="card-header py-3">
                                                <h5 class="m-0 font-weight-bold ">Delete Sales Item: {{ item.name }}</h5>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <a class="btn btn-success btn-sm"
                                                   href="{% url 'delete_salesitem' item.id %}">
                                                    <span class="text">Submit</span></a>
                                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="modal  fade" id="edit_salesitem_modal">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="card-header py-3">
                                            <h5 class="m-0 font-weight-bold ">Edit Sales Item Form</h5>
                                        </div>
                                        <!-- Modal Body -->
                                        <div class="modal-body">
                                            <div id="edit_salesitem_form_prop"></div>
                                            <br>
                                            <input class="btn btn-success btn-sm " type="submit" value="Submit">
                                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
            $(function(){
                
                //I need to make an ajax call to fetch object data that populates the edit form
                $('.edit-modal-button').click(function(){
                    var item_id = $(this).attr('id');
            
                    $.ajax(
                        {
                            type:'GET',
                            url: "/item/get-salesitem-editform/",
                            data:{
                                item_id:item_id
                            },
                            success:function(response){
                            $("#edit_salesitem_form_prop").html(response);
                            },
                            error: function(response){
                            alert("Ajax Call Failed");
                            }
                    }
                    )
                });

                var table = $('#SalesItemTable').DataTable({
                
                fixedHeader: true,
                order: [[1, 'asc']],
                dom: 'Bfrtip',
                lengthMenu: [
                10, 25, 50, -1
                ],
                buttons: [
                {
                    extend: 'pdf',
                    messageTop: "~Kings Educational Center Information Management System~",
                    download:'open',
                    title: "Sales Items",
                    messageBottom: function(){
                        var curr_date = new Date();
                        txt_curr_date = curr_date.toString();
                        return txt_curr_date;
                    },
                    exportOptions: {
                            columns: ':visible'
                        }
                },

                'pageLength',
                'colvis'
                ],
                columnDefs: [{
                orderable: false,
                
                targets: 0
                }],
            
            });     

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

            });
        </script>
    {% endblock script %}
{% endblock %}
