.btn-primary,
.breadcrumb-primary {
    background-color: #337ab7;
}

.btn-primary:hover {
    background-color: #286090;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px
}

thead {
    .bg-dark
}