{% extends './layout.html' %}
{% load static %}


{% block content_area %}

<a href="{% url 'refresh'%}">Refresh Token</a>
<button onlick="refreshCall">Refresh token onclick</button>
<div><code id="result"></code></div>
{% if status == "connected" %}
<h1>Dashboard</h1>

<h6>Quickbooks Connection Status: <span class="badge bg-success">CONNECTED</span></h6>
<hr>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% if status == "disconnected" %}
<h1>Dashboard</h1>
<h6>Quickbooks Connection Status: <span class="badge bg-danger">DISCONNECTED</span></h6>
<hr>

<a class="imgLink"
         href="{% url 'oauth'%}">
        <img style="height: 40px"
             src="{% static 'C2QB_white_btn_lg_default.png' %}"/>
      </a>
{% endif %}
Dashb

 <script>
    function apiCall() {
        $("#result").html('Loading...')
        $.get("/user_account/qbo_request", function (data) {
            $("#result").html(data)
        })
    }

    function revokeCall() {
        $("#result").html('Loading...')
        $.get("/user_account/revoke", function (data) {
            $("#result").html(data)
        })
    }

    function refreshCall() {
        $("#result").html('Loading...')
        $.get("/user_account/refresh", function (data) {
            $("#result").html(JSON.stringify(data, null, 2))
        })
    }

    function userInfoCall() {
        $("#result").html('Loading...')
        $.get("/user_account/user_info", function (data) {
            $("#result").html(data)
        })
    }
</script>
{% endblock content_area %}