<!--import the app's layout -->
{% extends 'layout.html' %}
{% load static %}

<!---->
<!--This is the dashboard page-->
{% block page %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">

            <h1 class="h3 mb-0 text-gray-900">Dashboard</h1>

        </div>

        <!-- Inforgraphics card -->
        <div class="row">

            <!-- Total number of registered students -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                    Total number of registered students
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-primary">{{ total_no_students }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-male fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Number of Students Taking Transport -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                    Total Number of Students Taking Transport
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-primary">{{ total_no_transport_subscribers }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-bus fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Number of Students Taking Lunch -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                    Total Number of Students Taking Lunch
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-primary">{{ total_no_lunch_subscribers }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-mug-hot fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total mount paid this term card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">
                                    Total Amount of Fees Collected for This Term
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-success">
                                    Ksh. {{ total_amount_in_paid_fees_arrears_term }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total Amount Unpaid for this term -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                    Total Amount of Uncollected Fees For This Term
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-danger">
                                    Ksh. {{ total_amount_in_unpaid_fees_arrears_term }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Amount in Unpaid bills card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                    Total Amount in Unpaid Bills
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-danger">
                                    Ksh. {{ total_amount_in_unpaid_bills }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


       <!--Charts Should Go Here-->

    </div>
    <!-- /.container-fluid -->
<script>
        let ctx = document.getElementById("no_students_per_grade").getContext("2d");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ['Play Group', 'Pre Primary 1', 'Pre Primary 2', 'Grade 1', 'Grade 2', 'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Class 7', 'Class 8'],
                datasets: [
                    {
                        label: "Number of Students",
                        backgroundColor: "#79AEC8",
                        borderColor: "#417690",
                        data:[12, 10, 15, 35, 32, 65, 34, 12, 45, 27, 14]
                    }
                ]
            },
            options: {
                title: {
                    text: "Number of Students Per Grade",
                    display: true
                }
            }
        });
    </script>
{% endblock %}

