{% extends 'base_template.html' %}
{% load static %}
{% block style %}
{% endblock style %}
{% block content %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{% url 'dashboard'%}"
                       class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                        <span class="fs-5 d-none d-sm-inline">School Information Management System(SIMS)</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'students' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Students</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'bills' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Bills</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'reports' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Reports</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'logout' %}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>   
            </div>
            <div class="col py-3">
                {% block content_area %}
                {% endblock content_area %}
            </div>
        </div>
    </div>

{% endblock content %}
