{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br/>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5>All Sales Items</h5>
                <hr>
                <nav aria-label="breadcrumb breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="{% url 'item_list' %}">All Sales Item ></a>
                        </li>
                    </ol>
                </nav>
                <hr />
                <!--Modal-->
                {% include "_modal.html" %}
                <!-- Create vendor button -->
                <button id="create-item"
                        class="btn btn-primary btn-sm"
                        type="button"
                        name="button">Add Sales Item</button>
            </div>
            <!--Table Body-->
            <div class="card-body">
                <div class="table-responsive">{% include "_items_table.html" %}</div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script type="text/javascript">
            $(function() {

                // Create vendor asynchronous button
                // message
                var asyncSuccessMessageCreate = [
                    "<div ", "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ", "class='alert alert-icon alert-sm alert-success alert-dismissible fade show mb-0' role='alert'>",
                    "Success: Sales Item was created.",
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                    "<span aria-hidden='true'>&times;</span>",
                    "</button>",
                    "</div>",
                    "<script>",
                    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                    "<\/script>"
                ].join("");

                // modal form
                function createItemAsyncModalForm() {
                    $("#create-item").modalForm({
                        formURL: "{% url 'create_item' %}",
                        modalID: "#create-modal",
                        asyncUpdate: true,
                        asyncSettings: {
                            closeOnSubmit: true,
                            successMessage: asyncSuccessMessageCreate,
                            dataUrl: "{% url 'items'%}",
                            dataElementId: "#items-table",
                            dataKey: "table",
                            addModalFormFunction: reinstantiateModalForms
                        }
                    });
                }
                createItemAsyncModalForm();

                // Update vendor asynchronous button
                // message
                var asyncSuccessMessageUpdate = [
                    "<div ", "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ", "class='alert alert-icon alert-stringformat alert-success alert-dismissible fade show mb-0' role='alert'>",
                    "Success: Sales Item was updated.",
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                    "<span aria-hidden='true'>&times;</span>",
                    "</button>",
                    "</div>",
                    "<script>",
                    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                    "<\/script>"
                ].join("");

                // modal form
                function updateItemModalForm() {
                    $(".update-item").each(function() {
                        $(this).modalForm({
                            formURL: $(this).data("form-url"),
                            asyncUpdate: true,
                            asyncSettings: {
                                closeOnSubmit: true,
                                successMessage: asyncSuccessMessageUpdate,
                                dataUrl: "{% url 'items'%}",
                                dataElementId: "#items-table",
                                dataKey: "table",
                                addModalFormFunction: reinstantiateModalForms
                            }
                        });
                    });
                }
                updateItemModalForm();

                // Delete vendor buttons - formURL is retrieved from the data of the element
                function deleteItemModalForm() {
                    $(".delete-item").each(function() {
                        $(this).modalForm({
                            formURL: $(this).data("form-url"),
                            isDeleteForm: true
                        });
                    });
                }
                deleteItemModalForm();

                // Read vendor buttons
                function readItemModalForm() {
                    $(".read-item").each(function() {
                        $(this).modalForm({
                            formURL: $(this).data("form-url")
                        });
                    });
                }
                readItemModalForm();

                function reinstantiateModalForms() {
                    createItemAsyncModalForm();
                    readItemModalForm();
                    updateItemModalForm();
                    deleteItemModalForm();
                }



                // Hide message
                $(".alert").fadeTo(2000, 500).slideUp(500, function() {
                    $(".alert").slideUp(500);
                });


                //Vendors DataTable Configuration
                var table = $('#items-table').DataTable({
                    fixedHeader: true,
                    order: [
                        [1, 'asc']
                    ],
                    dom: 'Bfrtip',
                    lengthMenu: [
                        10, 25, 50, -1
                    ],
                    buttons: [{
                            extend: 'searchBuilder',
                            config: {
                                depthLimit: 2
                            }
                        }, {
                            extend: 'pdf',

                            download: 'open',
                            title: "Sales Item List",
                            messageBottom: function() {
                                var curr_date = new Date();
                                txt_curr_date = curr_date.toString();
                                return txt_curr_date + "\n ~School Information Management System~";
                            },
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'pageLength',
                        'colvis'
                    ],
                    columnDefs: [{
                        orderable: false,

                        targets: 0
                    }],

                });
                //Add Styling to the buttons
                table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

            });
        </script>
{% endblock script %}
{% endblock %}
