{% extends 'dashboard/layout.html' %}
{% load static %}
{% block content_area %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
<a href="{% url 'create_bill'%}" class='btn btn-primary'>New Bill <img src="{% static 'bootstrap_icons/plus-circle.svg'%}" alt="Bootstrap" width="30" height="30"></a>
<hr>
<h1>Bills</h1>
<table id="all_bills" class="display table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>Date Created</th>
            <th>Decription</th>
            <th>status</th>
            <th>Quantiy</th>
            <th>Price per Quantity</th>
            <th>Total Amount</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td>{{bill.created}}</td>
            <td>{{bill.description}}</td>
            <td>
                {% if bill.fully_paid == True %}
                Paid
                {% endif %}

                {% if bill.fully_paid == False %}
                Unpaid
                {% endif %}
            </td>
            <td>{{bill.quantity}}</td>
            <td>{{bill.price_per_quantity}}</td>
            <td>{{bill.total}}</td>
            <td>
                {% if bill.fully_paid == False %}
                <a href="{% url 'pay_bill' bill.id %}" class='btn btn-primary'>Pay Bill</a>
                    <a href="{% url 'edit_bill' bill.id %}" class='btn btn-primary'>Edit Bill</a>
                    {% else %}
                    No actions on Paid bill
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#all_bills').DataTable();
    } );
</script>
{% endblock content_area %}