{% extends 'dashboard/layout.html' %}
{% block content_area %}
<h1>Create Bill</h1>
<hr>
{% for error in form.errors %}
<p>{{error}}</p>
{% endfor %}
    <form method="post" action="{% url 'create_bill'%}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>    
    <script>
        $(document).ready(function(){
            $("#quantity").change(function(){
                var quantity = $("#quantity").val();
                var price_per_quantity = $("#price_per_quantity").val();
                var total = quantity * price_per_quantity;
                $("#total").val(total);
            });
            $("#price_per_quantity").change(function(){
                var quantity = $("#quantity").val();
                var price_per_quantity = $("#price_per_quantity").val();
                var total = quantity * price_per_quantity;
                $("#total").val(total);
            });
        });
    </script>
{% endblock content_area %}
