{% extends 'layout.html' %}
{% block page %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
<br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}


        <div class="card o-hidden border-0 shadow-sm my-5">
            <div class="card-body p-0">

                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-sm">
                        <div class="p-5">
                            <div class="text-left">
                                <h5>Record New Bill</h5>
                            </div>
                            <hr>
                            <form action="{% url 'create_bill' %}" method="post" name="bill_creation_form">
                                {% csrf_token %}

                                <div class="row">

                                    <div class="col">
                                        {{ form.vendor.errors }}
                                        <label for="{{ form.vendor.id_for_label }}">Vendor:</label>
                                        {{ form.vendor }}</div>

                                </div>
                                <div class="row">

                                    <div class="col">
                                        {{ form.description.errors }}
                                        <label for="{{ form.description.id_for_label }}">Description:</label>
                                        {{ form.description }}</div>

                                </div>

                                <div class="row">
                                    <div class="col">
                                        {{ form.quantity.errors }}
                                        <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
                                        {{ form.quantity }}</div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        {{ form.price_per_quantity.errors }}
                                        <label for="{{ form.price_per_quantity.id_for_label }}">Price Per
                                            Quantity</label>
                                        {{ form.price_per_quantity }}</div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        {{ form.total.errors }}
                                        <label for="{{ form.total.id_for_label }}">Total:</label>
                                        {{ form.total }}</div>

                                </div>

                                <br>
                                <a class="btn btn-primary btn-sm" onclick="confirm_bill_creation()" href="#" data-toggle="modal"
                                   data-target="#confirm_bill_creation_modal">Submit</a>


                                <div class="modal fade" id="confirm_bill_creation_modal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Record Bill</h4>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <b>Vendor:</b> <small id="vendor_area"></small>
                                                <br>
                                                <b>Description:</b> <small id="description_area"></small>
                                                <br>
                                                <b>Quantity:</b> <small id="quantity_area"></small>
                                                <br>
                                                <b>Price per Quantity: </b><small id="price_per_quantity_area"></small>
                                                <br>
                                                <b>Total: </b><small id="total_area"></small>

                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                   <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>

                                                <input type="submit" class="btn btn-success btn-sm" value="Submit"
                                                       data-bs-dismiss="modal">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <script>
        $(document).ready(function () {
            $("#quantity").change(function () {
                alert("quantity ");
                var quantity = $("#quantity").val();
                var price_per_quantity = $("#price_per_quantity").val();
                var total = quantity * price_per_quantity;
                $("#total").innerHTML(total);
                $("#total").val(total);
            });
            $("#price_per_quantity").change(function () {
                var quantity = $("#quantity").val();
                var price_per_quantity = $("#price_per_quantity").val();
                var total = quantity * price_per_quantity;
                $("#total").innerHTML(total);
                $("#total").val(total);
            });
        });

        function confirm_bill_creation() {

            const vendor = document.getElementById("vendor");
            const vendor_name = vendor.options[vendor.selectedIndex].text;
            const description = document.forms['bill_creation_form']['description'].value;
            const quantity = document.forms['bill_creation_form']['quantity'].value;
            const price_per_quantity = document.forms['bill_creation_form']['price_per_quantity'].value;
            const total = document.forms['bill_creation_form']['total'].value;

            document.getElementById("vendor_area").innerHTML = vendor_name;
            document.getElementById("description_area").innerHTML = description;
            document.getElementById("quantity_area").innerHTML = quantity;
            document.getElementById("price_per_quantity_area").innerHTML = price_per_quantity;
            document.getElementById("total_area").innerHTML = total;
        }
    </script>
{% endblock %}
