{% extends 'dashboard/layout.html' %}
{% block content_area %}
    <h1>Edit Bill</h1>
    <hr>
    {% for error in form.errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form method="post" action="{% url 'edit_bill' bill.id %}" name="bill_edit_form">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="confirm_bill_edit()" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#confirm_bill_edit_modal">
            Submit
        </button>
        <div class="modal fade" id="confirm_bill_edit_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Bill</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <b>Vendor:</b> <small id="vendor_area_edit"></small>
                        <br>
                        <b>Description:</b> <small id="description_area_edit"></small>
                        <br>
                        <b>Quantity:</b> <small id="quantity_area_edit"></small>
                        <br>
                        <b>Price per Quantity: </b><small id="price_per_quantity_area_edit"></small>
                        <br>
                        <b>Total: </b><small id="total_area_edit"></small>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary mb-3" value="Submit" data-bs-dismiss="modal">
                    </div>

                </div>
            </div>
        </div>
    </form>
       <script>
        $(document).ready(function(){
            $("#quantity").change(function(){
                var quantity = $("#quantity").val();
                var price_per_quantity = $("#price_per_quantity").val();
                var total = quantity * price_per_quantity;
                $("#total").val(total);
            });
            $("#price_per_quantity").change(function(){
                var quantity = $("#quantity").val();
                var price_per_quantity = $("#price_per_quantity").val();
                var total = quantity * price_per_quantity;
                $("#total").val(total);
            });
        });
        function confirm_bill_edit() {

            const vendor = document.getElementById("vendor");
            const vendor_name = vendor.options[vendor.selectedIndex].text;
            const description = document.forms['bill_edit_form']['description'].value;
            const quantity = document.forms['bill_edit_form']['quantity'].value;
            const price_per_quantity = document.forms['bill_edit_form']['price_per_quantity'].value;
            const total = document.forms['bill_edit_form']['total'].value;

            document.getElementById("vendor_area_edit").innerHTML = vendor_name;
            document.getElementById("description_area_edit").innerHTML = description;
            document.getElementById("quantity_area_edit").innerHTML = quantity;
            document.getElementById("price_per_quantity_area_edit").innerHTML = price_per_quantity;
            document.getElementById("total_area_edit").innerHTML = total;
        }
    </script>
{% endblock %}