{% load widget_tweaks %}
<div class="modal-header bg-light">
  <h5 class="modal-title">Bill Item details</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>Description:{{ billitem.description }}</div>
  <div>Quantity:{{ billitem.quantity }}</div>
  <div>Price Per Quantity: {{ billitem.price_per_quantity }}</div>
  <div>Total: {{ billitem.total }}</div>
  <div>Amount Due: {{ billitem.amount_due }}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
</div>
