{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br/>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5>All Students</h5>
                <hr>
                <nav aria-label="breadcrumb breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="{% url 'student_list' %}">All Students ></a>
                        </li>
                    </ol>
                </nav>
                <hr />
                <!--Modal-->
                {% include "_modal.html" %}
                <!-- Create vendor button -->
                <button id="create-student"
                        class="btn btn-primary btn-sm"
                        type="button"
                        name="button">Add Student</button>
                <br/>
                <small>Total number of students: {{ students_total }}</small>
            </div>
            <!--Table Body-->
            <div class="card-body">
                <div class="table-responsive">{% include "_students_table.html" %}</div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script type="text/javascript">
            $(function() {

                $("#create-student-from").submit(function() {

                });
                var asyncSuccessMessageCreate = [
                    "<div ", "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ", "class='alert alert-icon alert-sm alert-success alert-dismissible fade show mb-0' role='alert'>",
                    "Success: Student was created.",
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                    "<span aria-hidden='true'>&times;</span>",
                    "</button>",
                    "</div>",
                    "<script>",
                    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                    "<\/script>"
                ].join("");

                // modal form
                function createStudentAsyncModalForm() {
                    $("#create-student").modalForm({
                        formURL: "{% url 'create_student' %}",
                        modalID: "#create-modal",
                        asyncUpdate: true,
                        asyncSettings: {
                            closeOnSubmit: true,
                            successMessage: asyncSuccessMessageCreate,
                            dataUrl: "{% url 'students'%}",
                            dataElementId: "#students-table",
                            dataKey: "table",
                            addModalFormFunction: reinstantiateModalForms
                        }
                    });
                }
                createStudentAsyncModalForm();

                // Update vendor asynchronous button
                // message
                var asyncSuccessMessageUpdate = [
                    "<div ", "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ", "class='alert alert-icon alert-stringformat alert-success alert-dismissible fade show mb-0' role='alert'>",
                    "Success: Student was updated.",
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                    "<span aria-hidden='true'>&times;</span>",
                    "</button>",
                    "</div>",
                    "<script>",
                    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                    "<\/script>"
                ].join("");
                // modal form
                function updateStudentModalForm() {
                    $(".update-student").each(function() {
                        $(this).modalForm({
                            formURL: $(this).data("form-url"),
                            asyncUpdate: true,
                            asyncSettings: {
                                closeOnSubmit: true,
                                successMessage: asyncSuccessMessageUpdate,
                                dataUrl: "{% url 'students'%}",
                                dataElementId: "#students-table",
                                dataKey: "table",
                                addModalFormFunction: reinstantiateModalForms
                            }
                        });
                    });
                }
                updateStudentModalForm();

                // Delete vendor buttons - formURL is retrieved from the data of the element
                function deleteStudentModalForm() {
                    $(".delete-student").each(function() {
                        $(this).modalForm({
                            formURL: $(this).data("form-url"),
                            isDeleteForm: true
                        });
                    });
                }
                deleteStudentModalForm();

                // Read vendor buttons
                function readStudentModalForm() {
                    $(".read-student").each(function() {
                        $(this).modalForm({
                            formURL: $(this).data("form-url")
                        });
                    });
                }
                readStudentModalForm();

                function reinstantiateModalForms() {
                    createStudentAsyncModalForm();
                    readStudentModalForm();
                    updateStudentModalForm();
                    deleteStudentModalForm();
                }



                // Hide message
                $(".alert").fadeTo(2000, 500).slideUp(500, function() {
                    $(".alert").slideUp(500);
                });


                //Vendors DataTable Configuration
                var table = $('#students-table').DataTable({

                    dom: 'Bfrtip',
                    fixedHeader: true,
                    order: [
                        [0, 'desc']
                    ],

                    lengthMenu: [
                        10, 25, 50, -1
                    ],
                    buttons: [{
                            extend: 'searchBuilder',
                            config: {
                                depthLimit: 2
                            }
                        }, {
                            extend: 'pdf',
                            download: 'open',
                            title: "Students List",
                            messageBottom: function() {
                                var curr_date = new Date();
                                txt_curr_date = curr_date.toString();
                                return txt_curr_date + "\n ~School Information Management System~";
                            },
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'pageLength',
                        'colvis'
                    ],
                    columnDefs: [{
                        orderable: false,

                        targets: 0
                    }],

                });
                //Add Styling to the buttons
                table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

            });
        </script>
{% endblock script %}
{% endblock %}
