{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold ">Fees Payments</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="PaymentsdataTable"
                           width="100%"
                           cellspacing="0"
                           class="table table-bordered table-sm text-gray-900">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Payment Date</th>
                                <th>Payment type</th>
                                <th>Student</th>
                                <th>Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td></td>
                                    <td>{{ payment.date_paid }}</td>
                                    <td>{{ payment.note }}</td>
                                    <td>
                                        <a href="{% url 'student_profile' payment.student.id %}">{{ payment.student }}</a>
                                    </td>
                                    <td>{{ payment.amount }}</td>
                                    <td>{{ payment.bal_on_inv }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
        $(document).ready(function () {
            $.fn.dataTable.moment( 'MMM. D, YYYY' );
    //Initialise the table
    var table = $('#PaymentsdataTable').DataTable({
        fixedHeader: true,
        order: [[0, 'desc']],
        dom: 'Bfrtip',
        lengthMenu: [
        10, 25, 50, -1
        ],
        buttons: [
        {
                text: 'New Payment',
                action: function ( e, dt, node, config ) {
                     window.location.href = "{% url 'create_payment' %}"

                }
            },
        
        {
            extend: 'searchBuilder',
            config: {
                depthLimit: 2
            }
        },
        {
            extend: 'excel',
            messageBottom: "Kings Educational Center Information Management System",
            title: "Payments Report",
          
            exportOptions: {
                    columns: ':visible'
                }
        },
        {
            extend: 'pdf',
            messageBottom: "Kings Educational Center Information Management System",
            download:'open',
            title: "Payments Report",
            messageTop: function(){
                var curr_date = new Date();
                txt_curr_date = curr_date.toString();
                return txt_curr_date;
            },
            exportOptions: {
                    columns: ':visible'
                }
        },
        'pageLength',
        'colvis'
        ],
        columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
        }],
        select: {
        style: 'multi',
        selector: 'td:first-child'
        },
        order: [[0, 'asc']]
    });

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

});
        </script>
    {% endblock script %}
{% endblock page %}
