{% extends 'base_template.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% block body_class %}
    bg-gray-300
{% endblock body_class %}

{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </p>
        {% else %}
            <p>
                Please login to see this page.
            </p>
        {% endif %}
    {% endif %}
    <div class="container text-gray-900">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row justify-content-center">
            <div class="card o-hidden border-0 shadow-sm my-5" style="width:50%">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-sm">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1><span class="fas fa fa-user-lock"></span></h1>
                                    <h2>Locked out of your account ?</h2>
                                    <span class="small">Enter your email below to recover it</span>



                                </div>
                                <form class="user" action="{% url 'password_reset' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.email.errors }}
                                        <label for="{{ form.email.id_for_label }}">Email:</label>
                                        {{ form.email }}
                                    </div>


                                    <button class="btn btn-primary btn-sm" type="submit">Recover password</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock content %}
