{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="container text-gray-900">
    <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small strong">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row justify-content-center">
            <div class="card o-hidden shadow-sm my-5" >
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-sm">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static 'logo.svg' %}" style="width: 40%;">
                                    <p class="small"><b>Kings Educational Centre - Karagita</b></p>
                                </div>
                                <div class="text-center">
                                    <p><b>Choose a new password.</b></p>
                                </div>
                                <form class="user" action="{% url 'password_change' %}" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn btn-primary btn-sm" type="submit">

                                        Submit</button>

                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock content %}