{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <div class="container text-gray-900">

        <div class="row justify-content-center">
            <div class="card o-hidden shadow-sm my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-sm">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static 'logo.svg' %}" style="width: 40%;">
                                    <p class="small"><b>Kings Educational Centre - Karagita</b></p>
                                </div>
                                A password reuest was requested for {{ email }}. Follow the link below to the password:
                                {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock content %}