{% extends 'layout.html' %}
{% load static %}
{% block page %}
<div class="container text-gray-900">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show small strong">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row justify-content-center">
            <div class="card o-hidden shadow-sm my-5" >
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-sm">
                            <div class="p-5">

                                <div class="text-center">
                                    <p><b>Choose a new password.</b></p>
                                </div>
                                
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock page %}