{% extends 'layout.html' %}
{% load static %}
{% block page %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible small fade show">
                        <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <!-- DataTables Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class"m-0">Available Academic Calendars</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div>
                        <a class="btn btn-primary  btn-sm "
                           href="#"
                           data-toggle="modal"
                           data-target="#add_year_modal">Add Academic Calendar</a>
                    </div>
                    <div class="modal fade" id="add_year_modal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">New Academic Calendar</h4>
                                </div>
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form action="{% url 'create_year' %}" method="post">
                                        {% csrf_token %}
                                        {{ create_year_form.as_p }}
                                        <input type="submit" value="submit" class="btn btn-sm btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class=" table table-bordered table-sm text-gray-900"
                           id="AcademicCalendarsTable"
                           style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Year</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Terms</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year  in years %}
                                <tr>
                                    <td></td>
                                    <td>{{ year.year }}</td>
                                    <td>{{ year.start }}</td>
                                    <td>{{ year.end }}</td>
                                    <td>
                                        {% for term in year.term_set.all %}Term {{ term.term }},{% endfor %}
                                    </td>
                                    <td class="">
                                        <a class="btn btn-primary  btn-sm "
                                           href="{% url 'academic_calendar' year.id %}">Terms</a>
                                        <a class="btn btn-primary  btn-sm "
                                           href="#"
                                           data-toggle="modal"
                                           data-target="#edit_year_modal{{ forloop.counter }}">Edit</a>
                                        <a class="btn btn-danger  btn-sm "
                                           href="#"
                                           data-toggle="modal"
                                           data-target="#delete_year_modal{{ forloop.counter }}">Delete</a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="edit_year_modal{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Year {{ year.year }}</h4>
                                            </div>
                                            <!-- Modal Body -->
                                            <div class="modal-body">
                                                <form action="{% url 'edit_year' year.id %}" method="post">
                                                    <input type="submit" value="submit"  class="btn btn-secondary btn-sm"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="delete_year_modal{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Discard Year {{ year.year }}</h4>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                                <a class="btn btn-danger btn-sm" href="{% url 'delete_year' year.id %}">
                                                    <span class="text">Discacrd</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% block script %}
        <script>
        $(document).ready(function () {
            //Set the formats for DataTales
            $.fn.dataTable.moment( 'MMM. D, YYYY, hh:mm' );
   

    //Add Styling to the buttons
    table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')

});
        </script>
    {% endblock script %}
{% endblock %}
