{% load widget_tweaks %}
<div class="modal-header bg-light">
  <h5 class="modal-title">Term details</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="">Term: {{ term.term }}</div>
  <div class="">Start: {{ term.start }}</div>
  <div class="">End: {{ term.end }}</div>
  <div class="">Year: {{ term.year }}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
</div>
